.banner-container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image:
    linear-gradient(rgba(70, 162, 148, 0.6), rgba(70, 162, 148, 0.6)),
    url("../../assets/images/image.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
