html {
  font-size: 10px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.global-container{
    background-color:cornflowerblue;
    border-radius: 1.2rem;
    padding: 2rem;

}

.line-container{
    background-color: blue;
    width: 3rem;
    height: 0.5rem;
    border-radius: 12px;
}
.form-container{
    background-color:white;
    border-radius: 12px;
    width: 40rem;
    padding: 3rem;
    font-size: 1.6rem;
    
}

.input-element{
    height: 5rem;
    width: 90%;
    background-color: whitesmoke ;
    border: none;
}

.submit-btn {
  height: 4rem;
  background-color: cornflowerblue;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 0.6rem;
}


