* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: gainsboro;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 7rem;
}

.card {
  width: 30rem;
  background-color: white;

  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 5rem;
  transition:
    transform 0.3s ease,
    background-color 0.3s ease;
}

.card img {
  width: 100%;
  height: auto;
  padding: 0.5rem;
}

.card-content {
  padding: 2rem;
}
.card-content h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.card-content p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  line-height: 1.3;
}

.btn {
  color: blue;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.card:hover {
  transform: scale(1.05);
  background-color: cadetblue;
}
