.global-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.box {
  background-color: aqua;
  padding: 1rem;
}

@media (min-width: 601px) and (max-width: 1023px) {
  .box {
    width: 48%;
  }
}

@media (max-width: 1024px) {
  .box {
    width: 32%;
  }
}

@media (max-width: 600px) {
  .box {
    width: 100%;
  }
}
