.navbar {
  padding-top: 0.8rem !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .nav-main {
    display: flex;
    align-items: center;
  }
  a {
    margin: 0.2rem;
  }
  .nav-button {
    text-transform: uppercase;
    border: none;
    background: none;
    color: black;
    cursor: pointer;
  }
  .nav-button:hover,
  .nav-button:active,
  .nav-button:focus {
    border-bottom: 2px solid #222222;
  }
  .nav-brand {
    margin-right: 2rem;
    width: min-content;
    border: none;
    background: none;
    cursor: pointer;
  }
  .brand-image {
    width: 4rem;
  }
  .icon-button {
    border: 1px solid rgba(0, 0, 0, 0);
    background: none;
    cursor: pointer;
  }
  .icon-button:hover {
    border-bottom: 2px solid #222222;
  }
  .nav-icon {
    width: 2rem;
    height: 2rem;
  }
}

.banner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
  background-color: #222222;
  color: #cacaca;
  a {
    text-transform: uppercase;
    cursor: pointer;
  }
  a:hover,
  a:active,
  a:focus {
    border-bottom: 2px solid #cacaca;
  }
  .banner-button {
    border: none;
    background: none;
    color: #cacaca;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.poster {
  display: flex;
  justify-content: space-evenly;
  background-color: #f3f3f3;
  .poster-image {
    height: 20rem;
    margin: 0 2rem;
  }
  .poster-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      margin: 0;
    }
    .sup-text {
      text-transform: uppercase;
    }
    .main-text {
      text-transform: uppercase;
      font-weight: bold;
    }
    .shop-button {
      background-color: black;
      color: white;
      text-transform: uppercase;
      width: 7rem;
      height: 2rem;
      margin-top: 1rem;
      border: none;
      cursor: pointer;
    }
  }
}

/*catalog.css*/
.catalog {
  display: flex;
  flex-direction: column;
  justify-content: start;
  p {
    margin: 0;
  }
  .title-container {
    margin: 1rem 0;
  }
  .main-title {
    font-size: 1.5rem;
  }
  .sub-title {
    font-size: 0.8rem;
  }
  .product-rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.7rem 1rem 0;
    .product-image {
      width: 100%;
    }
    .product-info {
      padding: 0 0.5rem;
      display: flex;
      flex-direction: column;
      width: 100%;
      .main-row {
        display: flex;
        justify-content: space-between;
      }
      .info-name {
        font-weight: bold;
      }
      .add-button {
        border: none;
        background: none;
        cursor: pointer;
      }
      .price {
        margin-top: 1rem;
      }
    }
  }
}

/*main.css*/
@import url(main.css);
.contain {
  padding: 0 10%;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
}
